In [7]:
# Задача 44: В ячейке ниже представлен код генерирующий DataFrame,
# которая состоит всего из 1 столбца. Ваша задача перевести его в one hot вид.
# Сможете ли вы это сделать без get_dummies?

In [8]:
import random
import pandas as pd
pd.set_option('display.max_rows', None)

In [9]:
lst = ['robot'] * 10
lst += ['human'] * 10
random.shuffle(lst)
data = pd.DataFrame({'whoAmI': lst})
data.head(4)

  whoAmI
0  robot
1  robot
2  robot
3  human

In [10]:
values = data['whoAmI'].unique()
onehot_data = pd.DataFrame()
for v in values:
    onehot_data[v] = (data['whoAmI'] == v).astype(int)

In [11]:
onehot_data

    robot  human
0       1      0
1       1      0
2       1      0
3       0      1
4       1      0
5       1      0
6       0      1
7       0      1
8       0      1
9       0      1
10      1      0
11      0      1
12      1      0
13      0      1
14      0      1
15      1      0
16      0      1
17      0      1
18      1      0
19      1      0